#carrinho{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* delivery section*/

#side-panel .details-delivery{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    right: 5%;
    top: 42%;
    border-radius: 8px;
    width: 15%;
    height: 35%;
    padding: 1.2%;
    background-color: whitesmoke;
}

#side-panel .details-delivery hr{
    width: 100%;
    background-color: black;
    height: 1px;
}

#side-panel .details-delivery p{
    width: 100%;
    font-size: small;
    color: black;
}

#side-panel .details-delivery select {
    cursor: pointer;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
}

#side-panel .details-delivery a {
    display: block; /* Makes the link take full width */
    width: 100%; /* Ensures it stretches fully */
    text-decoration: none;
}

#side-panel .details-delivery button {
    cursor: pointer;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 12px;
    width: 100%;
    display: flex;
    justify-content: center; /* Centers text horizontally */
    align-items: center; /* Centers text vertically */
    background-color: lightgreen;
}

#side-panel .details{
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    right: 5%;
    border-radius: 8px;
    width: 15%;
    height: 25%;
    padding: 1.2%;
    background-color: whitesmoke;
    
}

#side-panel .details hr{
    width: 100%;
    background-color: black;
    height: 1px;
}

#side-panel .details p{
    width: 100%;
    font-size: small;
    color: black;
}

#side-panel .details span{
    font-size: small;
    height: min-content;
    width: 100%;    
    
}


#carrinho .cart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

}

#carrinho .nome_manga,
.volume_manga,
.volume {
    display: inline;
    margin-right: 10px; /* Adjust the margin as needed */
}

#carrinho .cart-item {
    display: flex;
    flex-direction: row;
    padding-top: 35px;
    max-width: 70%;
    width: 60%;
    align-items: center;
    margin-bottom: 20px;
}

#carrinho .product-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    object-fit: contain;
    margin-right: 20px;
}

#carrinho .product-details {
    flex: 1;
}

#carrinho .cart-actions {
    display: flex;
    align-items: center;
}

#carrinho .quantidade-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.quantidade {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 75%;
    height: 50px;
}


.quantidade .quantidade-input {
    flex: 1;
    width: 20px;
    text-align: center;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.quantidade .quantidade-input::-webkit-outer-spin-button,
.quantidade .quantidade-input::-webkit-inner-spin-button {
    display: none;
}

.quantidade span{
    cursor: pointer;
}

.quantidade .mais,
.menos {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px 5px;
    margin: 0 5px;
}

.quantidade .mais i,
.menos i {
    pointer-events: none;
}

.deletar_botao {
    margin-top: 12px;
}

.deletar_botao .remove-button{
    color: red;
    text-decoration: none;
}



