/* #carrinho {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

/* delivery section*/

/* #side-panel .details-delivery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  right: 5%;
  top: 42%;
  border-radius: 8px;
  width: 15%;
  height: 35%;
  padding: 1.2%;
  background-color: whitesmoke;
}

#side-panel .details-delivery hr {
  width: 100%;
  background-color: black;
  height: 1px;
}

#side-panel .details-delivery p {
  width: 100%;
  font-size: small;
  color: black;
}

#side-panel .details-delivery select {
  cursor: pointer;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#side-panel .details-delivery a {
  display: block;
  width: 100%;
  text-decoration: none;
}

#side-panel .details-delivery button {
  cursor: pointer;
  border: 1px solid #ccc;
  height: 40px;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
}

#side-panel .details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  right: 5%;
  border-radius: 8px;
  width: 15%;
  height: 25%;
  padding: 1.2%;
  background-color: whitesmoke;
}

#side-panel .details hr {
  width: 100%;
  background-color: black;
  height: 1px;
}

#side-panel .details p {
  width: 100%;
  font-size: small;
  color: black;
}

#side-panel .details span {
  font-size: small;
  height: min-content;
  width: 100%;
} */

/* #carrinho .cart-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
} */

/* #carrinho .nome_manga,
.volume_manga,
.volume {
  display: inline;
  margin-right: 10px;
} */

/* #carrinho .cart-item {
  display: flex;
  flex-direction: row;
  padding-top: 35px;
  max-width: 70%;
  width: 60%;
  align-items: center;
  margin-bottom: 20px;
} */

/* #carrinho .product-image {
  width: 100px; 
  height: 100px;
  object-fit: contain;
  margin-right: 20px;
} */

/* #carrinho .product-details {
  flex: 1;
} */

/* #carrinho .cart-actions {
  display: flex;
  align-items: center;
} */

/* #carrinho .quantidade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
} */

/* .quantidade {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 75%;
  height: 50px;
} */

.quantidade .quantidade-input {
  flex: 1;
  width: 20px;
  text-align: center;
  border: none;
  outline: none;
}

.quantidade .quantidade-input::-webkit-outer-spin-button,
.quantidade .quantidade-input::-webkit-inner-spin-button {
  display: none;
}

.quantidade span {
  cursor: pointer;
}

.quantidade .mais,
.quantidade .menos {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px 5px;
  margin: 0 5px;
  color: #088178;
}

.quantidade .mais:hover,
.quantidade .menos:hover {
  color: #564caf;
}

.nome_manga {
  color: #088178;
}

.deletar_botao {
  margin-top: 12px;
}

.deletar_botao .remove-button {
  color: red;
  text-decoration: none;
  font-size: 0.8rem;
}

/* ================================================================== */

.cart-grid-container {
  display: grid;
  grid-template-areas: "a a" "b c";
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
}

.cart-title {
  grid-area: a;
  font-size: 2rem;
  padding: 1rem;
  /* margin-bottom: 1rem; */
  font-weight: 600;
}

#carrinho {
  grid-area: b;
}
#side-panel {
  grid-area: c;
}

.cart-item {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  align-items: center;
  flex-wrap: wrap;
}

.product-image {
  width: 90px;
  height: auto;
  object-fit: contain;
}

.product-details {
  flex: 2;
}

.quantidade-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.quantidade {
  display: flex;
  align-items: center;
  width: 110px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 6px;
  gap: 0.5rem;
}

.details,
.details-delivery {
  margin-bottom: 1rem;
}

#checkoutButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.preco-produto,
.total-preco {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  align-self: flex-start;
  margin-top: 14px;
  padding: 10px;
  gap: 0.2rem;
}

.label {
  font-size: 0.9rem;
}

.valor {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.valor::before {
  content: "R$ ";
}
/* ========= */

#side-panel {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 380px;
}

#side-panel h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #088178;
}

#side-panel span,
#side-panel p {
  font-size: 0.95rem;
  margin: 0.25rem 0;
}

#side-panel hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1rem 0;
}

#side-panel select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  width: 100%;
  margin-bottom: 1rem;
}

#side-panel button {
  width: 100%;
  padding: 0.9rem;
  background-color: #088178;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

#side-panel button:hover {
  background-color: #5aa83c;
}

#side-panel .details,
#side-panel .details-delivery {
  background: rgba(235, 238, 252, 0.4);
  border: 1px solid #ffffff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 1.5rem;
  margin-bottom: 1rem;
}

#side-panel .vendido-entrege {
  color: #088178;
  font-size: 0.8rem;
}
