:root {
  --product-width: 300px;
}

.truncate-2-lines {
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* número máximo de linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

#manga {
  text-align: center;
}

#manga .manga_box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--product-width), 1fr));
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}

.shop-page#manga {
  --product-width: 250px; /* Defina a variável AQUI para a shop-page */
  /* Este é o ponto onde a variável para toda a seção #manga é alterada*/
}

.shop-page#manga .manga_box {
  grid-template-columns: repeat(auto-fit, minmax(var(--product-width), 1fr));
}

#manga .manga_img {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-between;
  width: var(--product-width);
  padding: 10px;
  border: 1px solid #cce7d0;
  border-radius: 16px;
  box-shadow: 20px 20px 30px rgba(221, 216, 216, 0.02);
  transition: 0.2s ease;
  position: relative;
  cursor: pointer;
}

#manga .manga_img:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#manga .manga_img img {
  width: 100%;
  border-radius: 14px;
}

#manga .manga_img .manga_descrisao {
  text-align: start;
  /* padding: 10px 0; */
}

#manga .manga_img span {
  color: #606063;
  font-size: 12px;
}

#manga .manga_img .manga_descrisao h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
  height: 38px;
}

.star i {
  align-self: flex-start;
  font-size: 12px;
  color: rgb(243, 181, 25);
}

.manga_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 4px;
  gap: 5px;
  width: 100%;
}

.manga_footer h4 {
  font-size: 15px;
  font-weight: bold;
  color: #088278;
  margin: 0;
}

.manga_footer .addToCart {
  width: 100%;
  padding: 8px;
  background-color: #088278;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
}

.addToCart.clicked {
  background-color: lightgreen;
}

@media (max-width: 820px) {
  :root {
    --product-width: 170px;
  }

  .shop-page#manga {
    --product-width: 160px; /* Defina a variável AQUI para a shop-page */
  }

  #manga h2 {
    font-size: 1.4rem;
    line-height: 30px;
  }

  #manga p {
    font-size: 0.8rem;
    margin: 0px 0 10px;
  }

  #manga .manga_box {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 30px 0px;
  }
  #manga .manga_img img {
    height: 200px;
  }
  .manga_footer .star {
    display: none;
  }

  .manga_footer h4 {
    padding-top: 0.6rem;
  }
}

@media (max-width: 600px) {
  #manga .manga_box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 410px) {
  #manga .manga_box {
    gap: 5px;
  }
}
