#single_details {
  display: flex;
}

#single_details .single_image {
  width: 40%;
  margin: 50px;
}

#single_details .details {
  width: 40%;
  height: 80%;
  margin-top: 80px;
  padding: 20px;
  padding-top: 30px;
  border: 1px solid #fff;
  border-radius: 10px;
  background: rgba(235, 238, 252, 0.4);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

#single_details .details h4 {
  padding-top: 40px 0 20px 0;
}

#single_details .details h2 {
  font-size: 30px;
}

#single_details .details input {
  width: 60px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#single_details .details input:focus {
  outline: none;
}

#single_details .details button {
  background-color: #088178;
  color: #fff;
  border: 0;
  padding: 14px 80px 14px 65px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
}

#single_details .single_image img {
  width: 60%;
  height: auto;
}

#details_descrisao .descrisao h3 {
  font-size: 24px;
}

#details_descrisao {
  width: 76%;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  margin-left: 125px;
}

.descrisao,
.descrisao span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.descrisao strong {
  color: #088178;
  font-size: 1.2rem;
}

#manga .manga_img img {
  height: 310px;
}

.details .star i {
  font-size: 20px;
}

@media (max-width: 768px) {
  #single_details {
    flex-direction: column;
  }

  #single_details .single_image {
    width: 70vw;
    height: auto;
    margin: 20px auto;
    display: block;
  }

  #single_details .single_image img {
    width: 100%;
    height: auto;
  }

  #single_details .details {
    margin: 20px auto;
    width: 100%;
  }

  #single_details .details h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  #manga h3 {
    display: flex;
    align-self: flex-start;
    font-size: 1.6rem;
  }

  #details_descrisao {
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  #manga .manga_img img {
    height: 200px;
  }
}
